.elementor-557
  .elementor-element.elementor-element-af85b92:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-557
  .elementor-element.elementor-element-af85b92
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000FFF;
}
.elementor-557 .elementor-element.elementor-element-af85b92 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 0px 10px 0px;
}
.elementor-557
  .elementor-element.elementor-element-af85b92
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-557
  .elementor-element.elementor-element-d42011d.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-557
  .elementor-element.elementor-element-d42011d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-557 .elementor-element.elementor-element-889a29a {
  text-align: left;
}
.elementor-557 .elementor-element.elementor-element-889a29a img {
  width: 150px;
}
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-menu-toggle {
  margin-left: auto;
}
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu
  .elementor-item {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu--main
  .elementor-item {
  color: #FFF;
  fill: #000000;
}
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu--dropdown
  a,
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-menu-toggle {
  color: #FFF;
}
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-menu-toggle:hover {
  color: #FFF;
}
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-557
  .elementor-element.elementor-element-001034c
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .elementor-557 .elementor-element.elementor-element-d42011d {
    width: 50%;
  }
  .elementor-557 .elementor-element.elementor-element-889a29a {
    text-align: left;
  }
  .elementor-557 .elementor-element.elementor-element-c52c82a {
    width: 50%;
  }
}
