.elementor-5
  .elementor-element.elementor-element-61310a1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-61310a1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcfcfc;
  background-image: url("../../2020/02/bg-home-jpg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5 .elementor-element.elementor-element-61310a1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 120px 0px;
}
.elementor-5
  .elementor-element.elementor-element-61310a1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-6f30e114
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 66px;
}
.elementor-5 .elementor-element.elementor-element-22c6c873 {
  text-align: left;
  color: #6f6f6f;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
  line-height: 1.7em;
}
.elementor-5 .elementor-element.elementor-element-f12e933 .elementor-button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #fcfcfc;
  background-color: #000000;
  box-shadow: -100px 0px 16px -3px #000000inset;
  padding: 20px 50px 20px 50px;
}
.elementor-5 .elementor-element.elementor-element-34cd5c7f {
  --spacer-size: 50px;
}
.elementor-5 .elementor-element.elementor-element-6d67bc4f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-6d67bc4f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-3ce8caf5
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-3ce8caf5:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-3ce8caf5
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/02/cta1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-3ce8caf5
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 5px 5px 0px 5px;
  --e-column-margin-right: 5px;
  --e-column-margin-left: 5px;
}
.elementor-5
  .elementor-element.elementor-element-3ce8caf5
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-3ce8caf5
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 40px 20px 40px 20px;
}
.elementor-5
  .elementor-element.elementor-element-4c4c5460
  .elementor-heading-title {
  color: #7a7a7a;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
  letter-spacing: 2.6px;
}
.elementor-5
  .elementor-element.elementor-element-2bcab2b5
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 35px;
}
.elementor-5 .elementor-element.elementor-element-1eddc70f {
  --spacer-size: 34px;
}
.elementor-5
  .elementor-element.elementor-element-4191f9e6
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 6px;
}
.elementor-5
  .elementor-element.elementor-element-4191f9e6
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 6px;
}
.elementor-5 .elementor-element.elementor-element-4191f9e6 .elementor-button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #000000;
  background-color: rgba(195, 228, 233, 0);
  padding: 0em 0em 0em 0em;
}
.elementor-5
  .elementor-element.elementor-element-7f2ed8eb
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-7f2ed8eb:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-7f2ed8eb
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/02/cta2.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-7f2ed8eb
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 5px 5px 0px 5px;
  --e-column-margin-right: 5px;
  --e-column-margin-left: 5px;
}
.elementor-5
  .elementor-element.elementor-element-7f2ed8eb
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-7f2ed8eb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 40px 20px 40px 20px;
}
.elementor-5
  .elementor-element.elementor-element-3f36fe6f
  .elementor-heading-title {
  color: #7a7a7a;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
  letter-spacing: 2.6px;
}
.elementor-5
  .elementor-element.elementor-element-7b8f2df0
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 35px;
}
.elementor-5 .elementor-element.elementor-element-24e470f7 {
  --spacer-size: 34px;
}
.elementor-5
  .elementor-element.elementor-element-96c8d28
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 6px;
}
.elementor-5
  .elementor-element.elementor-element-96c8d28
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 6px;
}
.elementor-5 .elementor-element.elementor-element-96c8d28 .elementor-button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #000000;
  background-color: rgba(195, 228, 233, 0);
  padding: 0em 0em 0em 0em;
}
.elementor-5
  .elementor-element.elementor-element-47e69dd3
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-47e69dd3:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-47e69dd3
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/02/cta3.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-47e69dd3
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 5px 5px 0px 5px;
  --e-column-margin-right: 5px;
  --e-column-margin-left: 5px;
}
.elementor-5
  .elementor-element.elementor-element-47e69dd3
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-47e69dd3
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 40px 20px 40px 20px;
}
.elementor-5
  .elementor-element.elementor-element-35180ccb
  .elementor-heading-title {
  color: #7a7a7a;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
  letter-spacing: 2.6px;
}
.elementor-5
  .elementor-element.elementor-element-4296d25b
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 35px;
}
.elementor-5 .elementor-element.elementor-element-716120f8 {
  --spacer-size: 34px;
}
.elementor-5
  .elementor-element.elementor-element-71467565
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 6px;
}
.elementor-5
  .elementor-element.elementor-element-71467565
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 6px;
}
.elementor-5 .elementor-element.elementor-element-71467565 .elementor-button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #000000;
  background-color: rgba(195, 228, 233, 0);
  padding: 0em 0em 0em 0em;
}
.elementor-5
  .elementor-element.elementor-element-579230ed:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-579230ed
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbfbfb;
}
.elementor-5
  .elementor-element.elementor-element-579230ed
  > .elementor-background-overlay {
  background-color: #fbfbfb;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-579230ed {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 70px 0px;
}
.elementor-5
  .elementor-element.elementor-element-51d2676d
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px;
}
.elementor-5
  .elementor-element.elementor-element-51d2676d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-5 .elementor-element.elementor-element-730ea92 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-730ea92
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 39px;
}
.elementor-5 .elementor-element.elementor-element-16865152 img {
  width: 170px;
}
.elementor-5 .elementor-element.elementor-element-58a3dfa {
  --spacer-size: 26px;
}
.elementor-5
  .elementor-element.elementor-element-33cb2ec8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-33cb2ec8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000FFF;
}
.elementor-5 .elementor-element.elementor-element-33cb2ec8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-33cb2ec8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-1af287a5:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-1af287a5
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(255, 255, 255, 0);
}
.elementor-5
  .elementor-element.elementor-element-1af287a5
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 7px 7px 7px 7px;
  --e-column-margin-right: 7px;
  --e-column-margin-left: 7px;
}
.elementor-5
  .elementor-element.elementor-element-1af287a5
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-1af287a5
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 20px 0px 10px 20px;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-3a8f108f.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-3a8f108f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-3a8f108f:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-3a8f108f
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(255, 255, 255, 0);
}
.elementor-5
  .elementor-element.elementor-element-3a8f108f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 7px 7px 7px 7px;
  --e-column-margin-right: 7px;
  --e-column-margin-left: 7px;
}
.elementor-5
  .elementor-element.elementor-element-3a8f108f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-3a8f108f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 20px 0px 10px 20px;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968.elementor-position-right
  .elementor-image-box-img {
  margin-left: 12px;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968.elementor-position-left
  .elementor-image-box-img {
  margin-right: 12px;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 12px;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968
  .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968
  .elementor-image-box-title {
  margin-bottom: 15px;
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 26px;
}
.elementor-5
  .elementor-element.elementor-element-6bd22968
  .elementor-image-box-description {
  color: #7a7a7a;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761.elementor-position-right
  .elementor-image-box-img {
  margin-left: 12px;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761.elementor-position-left
  .elementor-image-box-img {
  margin-right: 12px;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 12px;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761
  .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761
  .elementor-image-box-title {
  margin-bottom: 15px;
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 26px;
}
.elementor-5
  .elementor-element.elementor-element-1df0a761
  .elementor-image-box-description {
  color: #7a7a7a;
}
.elementor-5
  .elementor-element.elementor-element-af4948d.elementor-position-right
  .elementor-image-box-img {
  margin-left: 12px;
}
.elementor-5
  .elementor-element.elementor-element-af4948d.elementor-position-left
  .elementor-image-box-img {
  margin-right: 12px;
}
.elementor-5
  .elementor-element.elementor-element-af4948d.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 12px;
}
.elementor-5
  .elementor-element.elementor-element-af4948d
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-af4948d
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-af4948d
  .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-5
  .elementor-element.elementor-element-af4948d
  .elementor-image-box-title {
  margin-bottom: 15px;
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 26px;
}
.elementor-5
  .elementor-element.elementor-element-af4948d
  .elementor-image-box-description {
  color: #7a7a7a;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f.elementor-position-right
  .elementor-image-box-img {
  margin-left: 12px;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f.elementor-position-left
  .elementor-image-box-img {
  margin-right: 12px;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 12px;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f
  .elementor-image-box-wrapper {
  text-align: left;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f
  .elementor-image-box-title {
  margin-bottom: 15px;
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 26px;
}
.elementor-5
  .elementor-element.elementor-element-72f1d22f
  .elementor-image-box-description {
  color: #7a7a7a;
}
.elementor-5
  .elementor-element.elementor-element-6d75b5a8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-6d75b5a8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbfbfb;
}
.elementor-5 .elementor-element.elementor-element-6d75b5a8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 070px 0px;
}
.elementor-5
  .elementor-element.elementor-element-6d75b5a8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-37dde5f2
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px;
}
.elementor-5
  .elementor-element.elementor-element-37dde5f2:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-37dde5f2
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/03/ctanew3.jpg");
  background-position: bottom center;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-37dde5f2
  > .elementor-element-populated {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-5
  .elementor-element.elementor-element-37dde5f2
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-37dde5f2
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 40px 0px 260px 0px;
}
.elementor-5 .elementor-element.elementor-element-2d9091f3 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-2d9091f3
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 35px;
}
.elementor-5 .elementor-element.elementor-element-5fb21f3e img {
  width: 170px;
}
.elementor-5
  .elementor-element.elementor-element-5d63cb5c
  > .elementor-element-populated {
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
}
.elementor-5
  .elementor-element.elementor-element-5d63cb5c
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-35374d15:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-35374d15
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/03/ctanew.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5 .elementor-element.elementor-element-35374d15 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px 0px 40px 0px;
}
.elementor-5
  .elementor-element.elementor-element-35374d15
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-5c993c71.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-5c993c71.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-5c993c71
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px;
}
.elementor-5
  .elementor-element.elementor-element-5c993c71
  > .elementor-element-populated {
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
}
.elementor-5 .elementor-element.elementor-element-4332d73 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-4332d73
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 35px;
}
.elementor-5 .elementor-element.elementor-element-6508c55 img {
  width: 170px;
}
.elementor-5
  .elementor-element.elementor-element-70f76321:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-70f76321
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/03/ctanew2.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5 .elementor-element.elementor-element-70f76321 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 42px 0px 43px 0px;
}
.elementor-5
  .elementor-element.elementor-element-70f76321
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-619995c6
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px;
}
.elementor-5
  .elementor-element.elementor-element-619995c6
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-5 .elementor-element.elementor-element-624d6d2 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-624d6d2
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 35px;
}
.elementor-5 .elementor-element.elementor-element-63643d3c img {
  width: 170px;
}
.elementor-5
  .elementor-element.elementor-element-3f393737:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-3f393737
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbfbfb;
}
.elementor-5 .elementor-element.elementor-element-3f393737 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 0140px 0px;
}
.elementor-5
  .elementor-element.elementor-element-3f393737
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-447c3b19.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-447c3b19.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-e52957e,
.elementor-5
  .elementor-element.elementor-element-e52957e
  > .elementor-background-overlay {
  border-radius: 20px 20px 20px 20px;
}
.elementor-5 .elementor-element.elementor-element-e52957e {
  padding: 50px 30px 30px 30px;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-1de3f80a.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-1de3f80a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-1de3f80a
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-5 .elementor-element.elementor-element-74786c5f {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-74786c5f
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 39px;
}
.elementor-5 .elementor-element.elementor-element-a71895e img {
  width: 170px;
}
.elementor-5 .elementor-element.elementor-element-4842a011 {
  text-align: center;
  color: #6f6f6f;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
  line-height: 1.7em;
}
.elementor-5 .elementor-element.elementor-element-43bf765e .elementor-button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #fcfcfc;
  background-color: #000000;
  box-shadow: -100px 0px 16px -3px #000000inset;
  padding: 20px 50px 20px 50px;
}
.elementor-5
  .elementor-element.elementor-element-26a304c0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-26a304c0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/02/baner2.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-26a304c0
  > .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.84);
  opacity: 0.76;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-26a304c0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 140px 0px;
}
.elementor-5
  .elementor-element.elementor-element-3f374e48
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0% 10% 0% 10%;
}
.elementor-5 .elementor-element.elementor-element-54bb58b2 {
  text-align: center;
  color: #c3e4e9;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}
.elementor-5 .elementor-element.elementor-element-28d4af7c {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-28d4af7c
  .elementor-heading-title {
  color: #000000FFF;
  font-family: "El Messiri", Sans-serif;
  font-size: 66px;
}
.elementor-5 .elementor-element.elementor-element-68e2586c {
  text-align: center;
  color: #e6e6e6;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
}
.elementor-5 .elementor-element.elementor-element-113dc310 {
  --spacer-size: 10px;
}
.elementor-5 .elementor-element.elementor-element-687a933 .elementor-button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #fcfcfc;
  background-color: #000000;
  box-shadow: -100px 0px 16px -3px #000000inset;
  padding: 20px 50px 20px 50px;
}
.elementor-5
  .elementor-element.elementor-element-15a3f0f9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-15a3f0f9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbfbfb;
}
.elementor-5 .elementor-element.elementor-element-15a3f0f9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-15a3f0f9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-762eb99e
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-5de41c44:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-5de41c44
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000FFF;
}
.elementor-5 .elementor-element.elementor-element-5de41c44 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -60px;
  margin-bottom: 0px;
}
.elementor-5
  .elementor-element.elementor-element-5de41c44
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-10726622
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-5
  .elementor-element.elementor-element-10726622
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-3164b684.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-3164b684.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-3164b684
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 050px 0px 60px;
}
.elementor-5 .elementor-element.elementor-element-7bba9a72 {
  text-align: left;
}
.elementor-5
  .elementor-element.elementor-element-7bba9a72
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 39px;
}
.elementor-5 .elementor-element.elementor-element-d247aa7 {
  text-align: left;
  color: #6f6f6f;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
  line-height: 1.7em;
}
.elementor-5 .elementor-element.elementor-element-7e643881 .elementor-button {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #fcfcfc;
  background-color: #000000;
  box-shadow: -100px 0px 16px -3px #000000inset;
  padding: 015px 30px 015px 30px;
}
.elementor-5
  .elementor-element.elementor-element-2d4ffe2e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-2d4ffe2e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbfbfb;
}
.elementor-5 .elementor-element.elementor-element-2d4ffe2e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-2d4ffe2e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-30dd55f8
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-2f4f6fa0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-2f4f6fa0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000FFF;
}
.elementor-5 .elementor-element.elementor-element-2f4f6fa0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -0px;
  margin-bottom: 0px;
}
.elementor-5
  .elementor-element.elementor-element-2f4f6fa0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-63b4953c.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-63b4953c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-63b4953c
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 050px 0px 60px;
}
.elementor-5 .elementor-element.elementor-element-10b77cb1 {
  text-align: left;
}
.elementor-5
  .elementor-element.elementor-element-10b77cb1
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 39px;
}
.elementor-5 .elementor-element.elementor-element-5c5b4854 {
  text-align: left;
  color: #6f6f6f;
  font-family: "Karla", Sans-serif;
  font-size: 17px;
  line-height: 1.7em;
}
.elementor-5 .elementor-element.elementor-element-5943dd96 .elementor-button {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  fill: #000000;
  color: #fcfcfc;
  background-color: #000000;
  box-shadow: -100px 0px 16px -3px #000000inset;
  padding: 015px 30px 015px 30px;
}
.elementor-5
  .elementor-element.elementor-element-6dc184d8
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-5
  .elementor-element.elementor-element-6dc184d8
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-22848d15:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-22848d15
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbfbfb;
}
.elementor-5 .elementor-element.elementor-element-22848d15 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-22848d15
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-5dbfe10b
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 6px;
}
.elementor-5
  .elementor-element.elementor-element-5dbfe10b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-5dbfe10b
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #5d5d5d;
}
.elementor-5
  .elementor-element.elementor-element-5dbfe10b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 0px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 0px;
}
.elementor-5
  .elementor-element.elementor-element-5dbfe10b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-5dbfe10b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 30px 0px 30px 0px;
}
.elementor-5 .elementor-element.elementor-element-69911d9a {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-69911d9a
  .elementor-heading-title {
  color: #000000FFF;
  font-family: "El Messiri", Sans-serif;
  font-size: 39px;
}
.elementor-5 .elementor-element.elementor-element-498738b1 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-498738b1
  .elementor-heading-title {
  color: #000000FFF;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.6px;
}
.elementor-5
  .elementor-element.elementor-element-538a0f9d
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 6px;
}
.elementor-5
  .elementor-element.elementor-element-538a0f9d:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-5
  .elementor-element.elementor-element-538a0f9d
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d7d7d7;
}
.elementor-5
  .elementor-element.elementor-element-538a0f9d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 10px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 10px;
}
.elementor-5
  .elementor-element.elementor-element-538a0f9d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-538a0f9d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 30px 0px 30px 0px;
}
.elementor-5 .elementor-element.elementor-element-1d1d5ca3 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-1d1d5ca3
  .elementor-heading-title {
  color: #3f3f3f;
  font-family: "El Messiri", Sans-serif;
  font-size: 39px;
}
.elementor-5 .elementor-element.elementor-element-5d4f0251 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-5d4f0251
  .elementor-heading-title {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.6px;
}
.elementor-5
  .elementor-element.elementor-element-2d71f921:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-5
  .elementor-element.elementor-element-2d71f921
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fbfbfb;
}
.elementor-5 .elementor-element.elementor-element-2d71f921 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-5
  .elementor-element.elementor-element-2d71f921
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-a21f36b img {
  opacity: 0.56;
  transition-duration: 1s;
}
.elementor-5 .elementor-element.elementor-element-a21f36b:hover img {
  opacity: 0.96;
}
.elementor-5
  .elementor-element.elementor-element-a21f36b
  > .elementor-widget-container {
  padding: 20px 20px 20px 20px;
}
.elementor-5 .elementor-element.elementor-element-3a7e762d img {
  opacity: 0.56;
  transition-duration: 1s;
}
.elementor-5 .elementor-element.elementor-element-3a7e762d:hover img {
  opacity: 0.96;
}
.elementor-5
  .elementor-element.elementor-element-3a7e762d
  > .elementor-widget-container {
  padding: 20px 20px 20px 20px;
}
.elementor-5 .elementor-element.elementor-element-3e03f782 img {
  opacity: 0.56;
  transition-duration: 1s;
}
.elementor-5 .elementor-element.elementor-element-3e03f782:hover img {
  opacity: 0.96;
}
.elementor-5
  .elementor-element.elementor-element-3e03f782
  > .elementor-widget-container {
  padding: 20px 20px 20px 20px;
}
.elementor-5 .elementor-element.elementor-element-462750fa img {
  opacity: 0.56;
  transition-duration: 1s;
}
.elementor-5 .elementor-element.elementor-element-462750fa:hover img {
  opacity: 0.96;
}
.elementor-5
  .elementor-element.elementor-element-462750fa
  > .elementor-widget-container {
  padding: 20px 20px 20px 20px;
}
.elementor-5 .elementor-element.elementor-element-3d8212c5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-6762dd56
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-5
  .elementor-element.elementor-element-6762dd56
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-5
  .elementor-element.elementor-element-3ad78e7c
  .gallery-item
  .gallery-caption {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-3ad78e7c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-5
    .elementor-element.elementor-element-6f30e114
    .elementor-heading-title {
    font-size: 51px;
  }
  .elementor-5 .elementor-element.elementor-element-33cb2ec8 {
    padding: 1em 0em 1em 0em;
  }
  .elementor-5
    .elementor-element.elementor-element-3a8f108f
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-6bd22968
    .elementor-image-box-title {
    font-size: 24px;
  }
  .elementor-5
    .elementor-element.elementor-element-1df0a761
    .elementor-image-box-title {
    font-size: 24px;
  }
  .elementor-5
    .elementor-element.elementor-element-af4948d
    .elementor-image-box-title {
    font-size: 24px;
  }
  .elementor-5
    .elementor-element.elementor-element-72f1d22f
    .elementor-image-box-title {
    font-size: 24px;
  }
  .elementor-5 .elementor-element.elementor-element-6d75b5a8 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-3f393737 {
    padding: 5em 0em 05em 0em;
  }
  .elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-118c6c8c.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-5
    .elementor-element.elementor-element-118c6c8c.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-5
    .elementor-element.elementor-element-447c3b19
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-e52957e {
    padding: 0px 0px 0px 0px;
  }
  .elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-730bb7d0.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-5
    .elementor-element.elementor-element-730bb7d0.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-5 .elementor-element.elementor-element-5de41c44 {
    padding: 3em 0em 3em 0em;
  }
  .elementor-5 .elementor-element.elementor-element-22848d15 {
    padding: 5em 1em 0em 1em;
  }
}
@media (max-width: 767px) {
  .elementor-5 .elementor-element.elementor-element-61310a1 {
    padding: 50px 0px 0px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-6f30e114 {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-6f30e114
    .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-5 .elementor-element.elementor-element-22c6c873 {
    text-align: center;
    font-size: 14px;
  }
  .elementor-5 .elementor-element.elementor-element-f12e933 .elementor-button {
    font-size: 14px;
  }
  .elementor-5
    .elementor-element.elementor-element-f12e933
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-34cd5c7f {
    --spacer-size: 22px;
  }
  .elementor-5
    .elementor-element.elementor-element-3ce8caf5
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 2em 2em 2em 2em;
  }
  .elementor-5
    .elementor-element.elementor-element-4c4c5460
    .elementor-heading-title {
    font-size: 13px;
  }
  .elementor-5
    .elementor-element.elementor-element-2bcab2b5
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-5 .elementor-element.elementor-element-4191f9e6 .elementor-button {
    font-size: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-7f2ed8eb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 2em 2em 2em 2em;
  }
  .elementor-5
    .elementor-element.elementor-element-3f36fe6f
    .elementor-heading-title {
    font-size: 13px;
  }
  .elementor-5
    .elementor-element.elementor-element-7b8f2df0
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-5 .elementor-element.elementor-element-96c8d28 .elementor-button {
    font-size: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-47e69dd3
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 2em 2em 2em 2em;
  }
  .elementor-5
    .elementor-element.elementor-element-35180ccb
    .elementor-heading-title {
    font-size: 13px;
  }
  .elementor-5
    .elementor-element.elementor-element-4296d25b
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-5 .elementor-element.elementor-element-579230ed {
    padding: 40px 0px 40px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-730ea92
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-5
    .elementor-element.elementor-element-6bd22968
    .elementor-image-box-img {
    margin-bottom: 12px;
  }
  .elementor-5
    .elementor-element.elementor-element-6bd22968
    .elementor-image-box-wrapper {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-6bd22968
    .elementor-image-box-title {
    font-size: 22px;
  }
  .elementor-5
    .elementor-element.elementor-element-1df0a761
    .elementor-image-box-img {
    margin-bottom: 12px;
  }
  .elementor-5
    .elementor-element.elementor-element-1df0a761
    .elementor-image-box-wrapper {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-1df0a761
    .elementor-image-box-title {
    font-size: 22px;
  }
  .elementor-5
    .elementor-element.elementor-element-af4948d
    .elementor-image-box-img {
    margin-bottom: 12px;
  }
  .elementor-5
    .elementor-element.elementor-element-af4948d
    .elementor-image-box-wrapper {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-af4948d
    .elementor-image-box-title {
    font-size: 22px;
  }
  .elementor-5
    .elementor-element.elementor-element-72f1d22f
    .elementor-image-box-img {
    margin-bottom: 12px;
  }
  .elementor-5
    .elementor-element.elementor-element-72f1d22f
    .elementor-image-box-wrapper {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-72f1d22f
    .elementor-image-box-title {
    font-size: 22px;
  }
  .elementor-5 .elementor-element.elementor-element-6d75b5a8 {
    padding: 0em 1em 0em 1em;
  }
  .elementor-5
    .elementor-element.elementor-element-37dde5f2
    > .elementor-element-populated {
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
  }
  .elementor-5
    .elementor-element.elementor-element-5d63cb5c
    > .elementor-element-populated {
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
  }
  .elementor-5 .elementor-element.elementor-element-35374d15 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .elementor-5 .elementor-element.elementor-element-70f76321 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .elementor-5 .elementor-element.elementor-element-3f393737 {
    padding: 1em 0em 1em 0em;
  }
  .elementor-5 .elementor-element.elementor-element-e52957e {
    padding: 0px 0px 0px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-74786c5f
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-5 .elementor-element.elementor-element-4842a011 {
    text-align: center;
    font-size: 14px;
  }
  .elementor-5 .elementor-element.elementor-element-54bb58b2 {
    font-size: 13px;
  }
  .elementor-5
    .elementor-element.elementor-element-28d4af7c
    .elementor-heading-title {
    font-size: 27px;
  }
  .elementor-5 .elementor-element.elementor-element-68e2586c {
    text-align: center;
    font-size: 14px;
  }
  .elementor-5
    .elementor-element.elementor-element-3164b684
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 20px 60px 20px;
  }
  .elementor-5 .elementor-element.elementor-element-7bba9a72 {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-7bba9a72
    .elementor-heading-title {
    font-size: 31px;
  }
  .elementor-5
    .elementor-element.elementor-element-7bba9a72
    > .elementor-widget-container {
    margin: 0px 0px 9px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-d247aa7 {
    text-align: center;
    font-size: 14px;
  }
  .elementor-5
    .elementor-element.elementor-element-63b4953c
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 20px 60px 20px;
  }
  .elementor-5 .elementor-element.elementor-element-10b77cb1 {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-10b77cb1
    .elementor-heading-title {
    font-size: 31px;
  }
  .elementor-5
    .elementor-element.elementor-element-10b77cb1
    > .elementor-widget-container {
    margin: 0px 0px 9px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-5c5b4854 {
    text-align: center;
    font-size: 14px;
  }
  .elementor-5 .elementor-element.elementor-element-22848d15 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-5dbfe10b
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-5dbfe10b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 30px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-69911d9a {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-69911d9a
    .elementor-heading-title {
    font-size: 31px;
  }
  .elementor-5
    .elementor-element.elementor-element-69911d9a
    > .elementor-widget-container {
    margin: 33px 0px 9px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-538a0f9d
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-538a0f9d
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 30px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-1d1d5ca3 {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-1d1d5ca3
    .elementor-heading-title {
    font-size: 31px;
  }
  .elementor-5
    .elementor-element.elementor-element-1d1d5ca3
    > .elementor-widget-container {
    margin: 33px 0px 9px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-2d71f921 {
    padding: 20px 0px 20px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-4e602937 {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-1a6ee0db {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-6dc6270f {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-2b8c8a1e {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .elementor-5 .elementor-element.elementor-element-1af287a5 {
    width: 59.649%;
  }
  .elementor-5 .elementor-element.elementor-element-3a8f108f {
    width: 40.308%;
  }
  .elementor-5 .elementor-element.elementor-element-37dde5f2 {
    width: 37.018%;
  }
  .elementor-5 .elementor-element.elementor-element-5d63cb5c {
    width: 62.982%;
  }
  .elementor-5 .elementor-element.elementor-element-5c993c71 {
    width: 49.051%;
  }
  .elementor-5 .elementor-element.elementor-element-3dcf633 {
    width: 50.949%;
  }
  .elementor-5 .elementor-element.elementor-element-619995c6 {
    width: 49.051%;
  }
  .elementor-5 .elementor-element.elementor-element-380843b8 {
    width: 50.949%;
  }
  .elementor-5 .elementor-element.elementor-element-118c6c8c {
    width: 30%;
  }
  .elementor-5 .elementor-element.elementor-element-447c3b19 {
    width: 39.664%;
  }
  .elementor-5 .elementor-element.elementor-element-730bb7d0 {
    width: 30%;
  }
  .elementor-5 .elementor-element.elementor-element-10726622 {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-3164b684 {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-63b4953c {
    width: 50%;
  }
  .elementor-5 .elementor-element.elementor-element-6dc184d8 {
    width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5 .elementor-element.elementor-element-3b434afe {
    width: 60%;
  }
}
@media (min-width: 1025px) {
  .elementor-5
    .elementor-element.elementor-element-26a304c0:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-5
    .elementor-element.elementor-element-26a304c0
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
