.elementor-kit-320 {
    --e-global-color-primary: #fff;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-color-8e54009: #4054b2;
    --e-global-color-765c31d8: #23a455;
    --e-global-color-2a5921e1: #000;
    --e-global-color-5e5b8bc8: #fff;
    --e-global-color-2f175dbd: #3f3f3f;
    --e-global-color-36e9405a: #000000;
    --e-global-color-56cbb7a5: #000000;
    --e-global-color-3925e51d: #fbfbfb;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
  }
  .elementor-kit-320 a {
    color: #54595f;
    font-family: "Karla", Sans-serif;
  }
  .elementor-kit-320 h1 {
    color: #3f3f3f;
    font-family: "El Messiri", Sans-serif;
    font-size: 66px;
    font-weight: 700;
  }
  .elementor-kit-320 h2 {
    color: #3f3f3f;
    font-family: "El Messiri", Sans-serif;
    font-size: 39px;
  }
  .elementor-kit-320 h3 {
    color: #3f3f3f;
    font-family: "El Messiri", Sans-serif;
    font-size: 36px;
  }
  .elementor-kit-320 h4 {
    color: #3f3f3f;
    font-family: "El Messiri", Sans-serif;
    font-size: 34px;
  }
  .elementor-kit-320 h5 {
    color: #3f3f3f;
    font-family: "El Messiri", Sans-serif;
    font-size: 28px;
  }
  .elementor-kit-320 h6 {
    color: #3f3f3f;
    font-family: "El Messiri", Sans-serif;
    font-size: 24px;
  }
  .elementor-kit-320 button,
  .elementor-kit-320 input[type="button"],
  .elementor-kit-320 input[type="submit"],
  .elementor-kit-320 .elementor-button {
    font-family: "Karla", Sans-serif;
    color: #000000;
    background-color: #000000;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 30px 15px 30px;
  }
  .elementor-kit-320 label {
    color: #3f3f3f;
    font-family: "Karla", Sans-serif;
  }
  .elementor-kit-320 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-320 textarea,
  .elementor-kit-320 .elementor-field-textual {
    font-family: "Karla", Sans-serif;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
  }
  .e-container {
    --container-max-width: 1140px;
  }
   {
  }
  h1.entry-title {
    display: var(--page-title-display);
  }
  .elementor-kit-320 e-page-transition {
    background-color: #ffbc7d;
  }
  @media (max-width: 1024px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
      max-width: 1024px;
    }
    .e-container {
      --container-max-width: 1024px;
    }
  }
  @media (max-width: 767px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
      max-width: 767px;
    }
    .e-container {
      --container-max-width: 767px;
    }
  }
  